@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Medium'), local('Futura-PT-Medium'),
    url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    box-sizing: border-box;
    min-width: 320px;
    font-family: 'Lexend', sans-serif;
}

/*Header*/

.header {
    position: fixed;
    width: 100%;
    font-family: 'Lexend', sans-serif;
    background: #110A1D;
    z-index: 5;
}

.panel_menu {
    display: flex;
    box-sizing: border-box;
    max-width: 102.5rem;
    height: 6rem;
    margin: 1rem auto 0.5rem;
    justify-content: space-between;
    align-items: center;
    background: #110A1D;
    border: solid 4px #478BF9;
    border-radius: 5rem;
    z-index: 15;
}

.page_logo, .page_buttons {
    width: 17.5%;
}

.page_logo {
    margin-left: 3rem;
}

.page_menu a {
    margin: 0 1rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

.page_menu a:first-child {
    margin-left: 0;
}

.page_menu a:last-child {
    margin-right: 0;
}

.page_menu a:hover {
    color: #478BF9;
    transition: color 200ms ease-in-out;
}

.page_buttons {
    display: inline-flex;
    width: max-content;
    margin-right: 3rem;
    justify-content: space-between;
}

.menu_buttons {
    box-sizing: border-box;
    height: 3rem;
    color: #FFF;
    font-size: 1rem;
    background: #110A1D;
    border: solid 2px #9DADF2;
    border-radius: 2rem;
    white-space: nowrap;
    cursor: pointer;
}

.menu_buttons img {
    margin-left: 0.4rem;
    transform: translate(0.4rem, 0.12rem);
}

.menu_buttons span {
    width: 1.5rem;
    padding: 0 0.75rem;
    font-family: 'Lexend', sans-serif;
}

.lang_ru {
    display: none;
}

.language_button {
    width: 4.69rem;
}

.login_button {
    margin: 0 0.875rem;
    padding: 0.81rem 0;
}

.signup_button {
    background-color: #478BF9;
    border: none;
}

.modal_close {
    display: none;
}

/*Home page*/

.home_page {
    position: relative;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    background: #110A1D;
}

.title_main {
    display: block;
    width: 34.8%;
    margin: 26rem 0 0 7.2%;
}

.name {
    font-size: 6rem;
    font-weight: 500;
    line-height: 100%;
    opacity: 70%;
}

.name-outline {
    margin-top: 1.5rem;
    color: #FFF;
    font-size: 2em;
    opacity: 60%;
}

.name span {
    color: #478BF9;
}

.become_button {
    margin-top: 3rem;
    padding: 1.25rem 4.5rem;
    color: #FFF;
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #478BF9;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}


.banner_bg {
    display: flex;
    height: 67rem;
    width: 21rem;
    margin-top: 5.1em;
    justify-content: space-between;
    vertical-align: top;
    overflow: hidden;
}

.banner_bg h2 {
    display: none;
}

.line_1, .line_2, .line_3 {
    margin: 0 0.1rem;
}

.line_1 {
    width: 29.6%;
    opacity: 20%;
    transform: translateY(-7rem);
    animation: move-down 12s linear infinite;
}

.line_1_1 {
    transform: translateY(6.24em);
}

.line_1_2 {
    transform: translateY(-152em);
}

.line_2 {
    width: 29.6%;
    opacity: 60%;
    animation: move-up 15s linear infinite;
}

.line_3 {
    width: 29.6%;
    opacity: 40%;
    transform: translateY(0.5em);
    animation: move-down 13s linear infinite;
}

.line_3_1 {
    transform: translateY(1.3em);
}

.line_3_2 {
    transform: translateY(-142em);
}

.svg_border {
    height: 225px;
    width: 100px;
    box-sizing: border-box;
    border: solid 3px #478BF9;
    border-radius: 50px;
}

.line_3 .svg_border {
    border: solid 3px white;
}

.svg_border object {
    transform: translate(-3px, 121px);
}

.line_2 .svg_border object {
    transform: translate(-3px, -3px);
}

.svg_ban {
    margin: 0.75em 0;
}

@keyframes move-down {
    100% {
        transform: translateY(72.2em);
    }
}

@keyframes move-up {
    100% {
        transform: translateY(-79.4em);
    }
}

/*BLOG*/

.blog {
    position: relative;
    display: block;
    width: 27.6%;
    height: min-content;
    margin: 16.25em 7.2% 0 1.25em;
    vertical-align: top;
}

.blog h2 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 0.35em;
}

.area_card {
    height: 37.2rem;
    padding-right: 0.75rem;
    background: rgba(255, 255, 255, 0.12);
    border: solid 3px #478BF9;
    border-radius: 6rem;
    overflow-y: scroll;
    scroll-margin: 10px;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}

.area_card::-webkit-scrollbar {
    display: none;
}

.area_card a {
    text-decoration: none;
}

.review-card {
    margin: 1rem 1.25rem;
    font-weight: 400;
    background: #1E1231;
    border-radius: 5rem;
}

.review-card-active {
    background: #478BF9;
}

.methods {
    margin: 0 4rem;
    padding-top: 0.875rem;
    color: #FFF;
    font-size: 1.5rem;
}

.methods_date {
    margin: 0 4rem;
    padding: 0.75rem 0 0.92rem;
    color: #FFF;
    font-family: 'Futura PT', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 60%;
}

.scrollbar {
    position: absolute;
    width: 8px;
    height: 60%;
    top: 25%;
    right: 0.9rem;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
}

.scrollbar_active {
    height: 30%;
    background: #478BF9;
    opacity: 100%;
    border-radius: 4px;
}

/*Footer*/

.footer {
    background-color: #110A1D;
    position: relative;
}

.footer_shadow {
    position: absolute;
    width: 100%;
    height: 10rem;
    top: -10rem;
    background: linear-gradient(rgba(17, 10, 29, 0), #110A1D 90%, #110A1D 100%);
}

.footer_panel {
    box-sizing: border-box;
    height: 8.125rem;
    background-color: #1E1231;
    border: solid 4px #478BF9;
    border-bottom: none;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer_menu {
    margin: 0 0 1.5rem 7.3%;
}

.footer_menu a {
    margin: 0 1.25rem;
    color: #FFF;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

.footer_menu a:hover {
    color: #478BF9;
}

.footer_menu a:first-child {
    margin-left: 0;
}

.footer_menu a:last-child {
    margin-right: 0;
}

.footer_social {
    margin: 0 7.3% 1.5rem 0;
}

.footer_social h4 {
    margin-bottom: 0.875rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
}

.footer_social a {
    position: relative;
    display: inline-block;
    margin: 0 2rem 2rem 0.25rem;
    text-decoration: none;
}

.footer_social a img {
    position: absolute;
    width: 2em;
    box-shadow: none;
}

.social_active {
    opacity: 0;
    transition: opacity 500ms;
}

.social_active:hover {
    opacity: 1;
    transition: opacity 300ms;
}

/*Dot lights*/

.dot_lights {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

.dot_light {
    position: absolute;
    border-radius: 50%;
}

.dot_light_1 {
    width: 14.15rem;
    height: 81.4rem;
    top: -1rem;
    left: 15rem;
    background: linear-gradient(#478BF9, rgba(71, 139, 249, 0.4));
    transform: rotate(-54.31deg);
    filter: blur(8rem);
    opacity: 55%;
}

.dot_light_2 {
    width: 35.875rem;
    height: 35.875rem;
    bottom: -7.875rem;
    right: -9.94rem;
    background: linear-gradient(45deg, #9DADF2, #478BF9);
    filter: blur(15rem);
    opacity: 70%;
}